<mat-toolbar color="primary">
  <span class="link-padding" (click)="handleNavigation('home')"
    ><mat-icon aria-hidden="false" aria-label="Example home icon"
      >home</mat-icon
    ></span
  >
  <span class="link-padding" (click)="handleNavigation('books')">Books</span>
  <span
    class="link-padding"
    *ngIf="isUserAuthenticated"
    (click)="handleNavigation('add-book')"
    >Add Book</span
  >

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span class="link-padding" (click)="handleNavigation('login')">Login</span>
  <span
    mat-button
    class="link-padding"
    *ngIf="isUserAuthenticated"
    (click)="logout()"
    >Logout</span
  >
</mat-toolbar>
<mat-grid-list cols="12">
  <router-outlet></router-outlet>
</mat-grid-list>
