<mat-toolbar color="primary">
  <span class="link-padding" (click)="handleNavigation('home')"
    ><mat-icon aria-hidden="false" aria-label="Example home icon"
      >home</mat-icon
    ></span
  >
  <span class="link-padding" (click)="handleNavigation('books')">Books</span>
  <span
    class="link-padding"
    *ngIf="
      isUserAuthenticated &&
      _commonDataService.getUserDetailsListener().role == 1
    "
    (click)="handleNavigation('add-book')"
    >Add Book</span
  >

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span
    class="link-padding"
    (click)="handleNavigation('login')"
    *ngIf="!isUserAuthenticated"
    >Login</span
  >

  <button mat-button [matMenuTriggerFor]="info" *ngIf="isUserAuthenticated">
    {{ _commonDataService.getUserDetailsListener().name }}
  </button>
  <mat-menu #info="matMenu">
    <button mat-menu-item (click)="logout()">Logout</button>
    <button mat-menu-item>Edit Profile</button>
  </mat-menu>
</mat-toolbar>
<mat-grid-list cols="12">
  <router-outlet></router-outlet>
</mat-grid-list>
