.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.link-padding {
  padding: 0 10px;
  cursor: pointer;
  line-height: 15px;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 15px;
  font-weight: 500;
}
