/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container > mat-card {
  height: 30%;
}

.success-notification {
  background-color: green !important;
}

.home-style-class {
  width: 100%;
  height: 89.7vh;
  background-image: url("./assets/images/home_bk.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
